/** Floating Container CSS **/
#block-importantinformationfloatingcontainer {
    position: fixed !important;
    bottom: 0;
    left: 0;
    right: 0;
    height: 33%;
    z-index: 25;
    overflow-y: auto;
    background: white;
    box-shadow: 0 0 5px 0 lightgrey;
    /* TODO: Adjust JS so we can move some of these rules to .important-information-footer-opaque */
}
#block-importantinformationfloatingcontainer  h2.block__title {
    display: none;
}
#block-importantinformationfloatingcontainer .important-floating-container-content {
    padding: 1em;
}

.expandable-bar {
    text-align: right;
    background: lightgray;
    height: 2em;
}
.expandable-bar .expand-button {
    color: white;
    margin-top: .25em;
}
.expandable-bar .expand-button p{
    color: white;
    float: right;
    margin-right: 2em;
}

#block-importantinformationfloatingcontainer > #important-floating-container-block-wrap {
    height: 100%;
    overflow-y: auto !important;
}

.important-information-footer-opaque {
    background: white;
    box-shadow: 0 0 5px 0 lightgrey;
}

.important-information-footer-transparent {
    background: transparent !important;
    box-shadow: none;
}

@media screen and (min-width: 60rem) {
    #block-importantinformationfloatingcontainer {
        /* display: none; */
    }
}
