/** Sidebar CSS **/

#block-importantinformationsidebar {
    background-color: white;
    padding: 1em;
    padding-bottom: 0;
    z-index: 10;
    border: solid 2px #d93760;
    margin-bottom: 2em;
}
@media screen and (max-width: 60rem) {
    #block-importantinformationsidebar {
        display: none;
    }
}



/** Footer CSS **/


.layout-bottom {
    position: fixed !important;
    bottom: 0;
    left: 0;
    right: 0;
    height: 33%;
    z-index: 25;
    overflow-y: auto;
    background: white;
    box-shadow: 0 0 5px 0 lightgrey;
    /* TODO: Adjust JS so we can move some of tese rules to .important-information-footer-opaque */
}

.layout-bottom > .container {
    height: 100%;
    overflow-y: auto !important;
}

.important-information-footer-opaque {
    background: white;
    box-shadow: 0 0 5px 0 lightgrey;
}



.important-information-footer-transparent {
    background: transparent !important;
    box-shadow: none;
}


#block-importantinformationfooter {
    margin-bottom:0;

}
@media screen and (min-width: 60rem) {
    #block-importantinformationfooter {
       /* display: none; */
    }
}

/** Bottom CSS **/
#important-bottom-block-wrap {
    margin-top: 2em;
    display: none; /* Hide by default */
 }