/** Sidebar CSS **/

#block-importantinformationsidebar {
    background-color: white;
    padding: 1em;
    padding-bottom: 0;
    z-index: 10;
    border: solid 2px #d93760;
    margin-bottom: 2em;
}



/** Footer CSS **/

#block-importantinformationfooter {
    position: fixed !important;
    bottom: 0;
    left: 0;
    right: 0;
    height: 33%;
    z-index: 25;
    overflow-y: auto;
    background: white;
    box-shadow: 0 0 5px 0 lightgrey;
    /* TODO: Adjust JS so we can move some of these rules to .important-information-footer-opaque */
}
#block-importantinformationfooter .important-footer-content {
    padding: 1em;
}

.expandable-bar {
    text-align: right;
    background: lightgray;
}
.expandable-bar .expand-button {
    color: white;
}

#block-importantinformationfooter > #important-footer-block-wrap {
    height: 100%;
    overflow-y: auto !important;
}

.important-information-footer-opaque {
    background: white;
    box-shadow: 0 0 5px 0 lightgrey;
}

.important-information-footer-transparent {
    background: transparent !important;
    box-shadow: none;
}

@media screen and (min-width: 60rem) {
    #block-importantinformationfooter {
       /* display: none; */
    }
}



/** Bottom CSS **/
#important-bottom-block-wrap {
    margin-top: 2em;
   /* display: none; /* Hide by default */
 }

/** All **/
#block-importantinformationsidebar .button,
#block-importantinformationfooter .button,
#important-bottom-block-wrap .button,
#important-bottom-block-wrap {
    margin-bottom: 1em;
}

