
<div id="important-sidebar-block-wrap">
    <div class="important-sidebar-scrollable">
        {{ info_prefix }}
        {{ information }}
        {{ modal }}
        {{ info_suffix }}
    </div>
</div>
